{% extends "base.html" %}

{% block page_title %}Αρχική{% endblock %}
{% block site_css %}
    <link href="{{ static('shy/css/public/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
<div class="container-fluid text-center">

	<div class="row">
		<div class="col-lg-12">
			<br>
			<h4>Γράψε / Ρώτα / Απάντα </h4>
			<h4 id="anon">- 100% ανώνυμα! -</h4>
			<br>
		</div>
	</div>

	<div class="row">
		{% for post in posts %}
			<div class="col-md-4 post">
				<div class="post_wrp">
					<div class="post_head">
						<span class="title"><h2>{{post.title[:40]}}</h2>.</span><span class="uuid">{{post.uuid}}</span>
					</div>
					<div class="the_text">{{post.text[:300]}}...</div>
					{# <span class="date">{{post.created_on.strftime('%d-%h-%Y')}}</span> #}
					<a class="btn btn-success show" href="{{ url('posts:single_post', args=[post.uuid]) }}">Προβολή</a>
				</div>
			</div>
			
		{% endfor %}
	</div>

</div>
{% endblock %}
{% block site_js %}{% endblock %}