{% extends "base.html" %}

{% block page_title %}Αρχική{% endblock %}
{% block site_css %}
    <link href="{{ static('shy/css/public/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}Μίλα στον Ψίθυρο για όποιο θέμα θέλεις 100% ανώνυμα!{% endblock %}
{% block keywords %}{% endblock %}

{% block og_title %}Γράψε / Ρώτα / Απάντα{% endblock og_title %}
{% block og_meta_description %}Μίλα στον Ψίθυρο για όποιο θέμα θέλεις 100% ανώνυμα!{%endblock%}

{% block main %}
<div class="container-fluid text-center">

	<div class="row">
		<div class="col-lg-12">
			<br>
			<h4>Γράψε / Ρώτα / Απάντα</h4>
			<h4 id="anon">Μίλα στον Ψίθυρο για όποιο θέμα θέλεις 100% ανώνυμα!</h4>
			<br>
		</div>
	</div>

	<div class="row">
		{% for post in posts %}
			<div class="col-md-4 post">
				<div class="post_wrp">
					<div class="post_head ">
						<span class="title">
							<h2>{{post.title[:20]}}.</h2>
						</span>
						<span class="date badge badge-success">Απ:{{post.all_answers('count')}}</span>
						<span class="date badge badge-primary">{{post.created_on.strftime('%d/%m/%Y')}}</span>
					</div>
					<div class="the_text">{{post.text[:300]}}...</div>
					<a class="btn btn-primary btn-sm show" href="{{ url('posts:single_post', args=[post.uuid]) }}">Προβολή</a>
				</div>
			</div>
			
		{% endfor %}
	</div>

	<div class="row">
	    <div class="col-lg-12 text-center pages">
	        {% if posts.has_other_pages() %}
	          <ul class="pagination">
	            {% if posts.has_previous() %}
	                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number() }}">&lt;</a></li>
	            {% else %}
	                <li class="page-item disabled"><span class="page-link">&lt;</span></li>
	            {% endif %}

	            {% for i in page_range %}
	                {% if posts.number == i %}
	                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
	                {% else %}
	                    <li class="page-item"><a  class="page-link" href="?page={{ i }}">{{ i }}</a></li>
	                {% endif %}
	            {% endfor %}

	            {% if posts.has_next() %}
	                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number() }}">&gt;</a></li>
	            {% else %}
	                <li class="page-item disabled"><span class="page-link">&gt;</span></li>
	            {% endif %}
	          </ul>
	        {% endif %}

	    </div>
	</div>

</div>
{% endblock %}
{% block site_js %}{% endblock %}