{% extends "base.html" %}

{% block page_title %}Πολιτική απορρήτου{% endblock %}
{% block site_css %}
    <link href="{{ static('shy/css/public/terms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
<div class="container text-center">

	<div class="row">
		<div class="col-lg-12 text-left terms">
			<br>
			<h4>Πολιτική απορρήτου</h4>
			<br>
			<h5>Συλλογή πληροφοριών</h5>
			<p>Δεν συλλέγουμε πληροφορίες χρήστη.</p>

			<h5>Χρήση των Στοιχείων</h5>
			<p>Δεν κάνουμε χρήση στοιχείων.</p>

			<h5>Χρήση cookies</h5>
			<p>Δεν κάνουμε χρήση cookies.</p>

			<h5>Καταγγελία</h5>
			<p>Σε περίπτωση που πιστεύετε πως έχουν παραβιαστεί τα δικαιώματα προστασίας των προσωπικών σας δεδομένων, ή φαινόμενα απάτης από αγοραπωλησίες παρακαλώ αναφέρετε το άμεσα <a href="https://tsaklidis.gr">στον διαχειριστή</a></p>
		</div>
	</div>

</div>
{% endblock %}
{% block site_js %}{% endblock %}