{% extends "base.html" %}

{% block page_title %}Όροι χρήσης{% endblock %}
{% block site_css %}
    <link href="{{ static('shy/css/public/terms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_head %}{% endblock%}
{% block meta_description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block main %}
<div class="container text-center">

	<div class="row">
		<div class="col-lg-12 text-left terms">
			<br>
			<h4>Όροι χρήσης</h4>
			<p>Για να διαβάσετε την πολιτική απορρήτου <a class="no_hover" href="{{ url('posts:privacy') }}">πατήστε εδώ.</a></p>
			<p>
				O παρόν δικτυακός τόπος (εφεξής ο "Ιστότοπος" ή η "Ιστοσελίδα", σελίδα κ.ο.κ.) ανήκει και διαχειρίζεται από τον Τσακλίδη Στέφανο (εφεξής ως "Ψίθυρος", "η ομάδα μας", "εμείς" κ.ο.κ.). 
			</p>
			<p>
				"Χρήστης", "Επισκέπτης" ορίζεται οποιοσδήποτε επισκέπτεται ή κάνει χρήση του Ιστοτόπου για οποιονδήποτε σκοπό.
			</p>
			<p>
				Πρέπει να είστε άνω των 18 ετών προκειμένου να κάνετε χρήση του Ιστότοπου ή/και των Υπηρεσιών.
			</p>
			<p>
				Εφόσον κάνετε χρήση της σελίδας, αποδέχεστε τους παρακάτω όρους όπως είναι.
			</p>
			<p>
				O Ψίθυρος και οι διαχειριστές του δεν φέρνουν καμία ευθύνη για το περιεχόμενο και τα σχόλια της σελίδας.Όλα τα κείμενα, σχόλια, απαντήσεις γράφονται αποκλειστικά και μόνο από τους χρήστες/επισκέπτες της σελίδας.
			</p>
			<p>
				Το περιεχόμενο και οι πληροφορίες που περιλαμβάνονται στο site δεν προέρχονται καθ’ οποιονδήποτε τρόπο από τον διαχειριστή της σελίδας Tσακλίδη Στέφανο, αντιθέτως δημοσιεύονται και αναρτώνται στον Ιστότοπο με πρωτοβουλία και αποκλειστική ευθύνη του εκάστοτε χρήστη/επισκέπτη και δεν δύνανται σε καμία περίπτωση να εκληφθούν ως έγκυρες πληροφορίες ή/και συμβουλές. Η Ιστοσελίδα αναλαμβάνει αποκλειστικά και μόνον την συλλογή και ανάρτηση του κειμένου, δεν εγγυάται όμως σε καμία περίπτωση για την ορθότητα, την πληρότητα ή και την διαθεσιμότητα των περιεχομένων, σελίδων, υπηρεσιών, επιλογών αυτού (του Ψίθυρου) 
			</p>
			<p>
				Η φερεγγυότητα των κειμένων, η κατάσταση, η νομιμότητά τους δεν ελέγχονται από τον διαχειριστή της σελίδας.
				Κάτι τέτοιο είναι αποκλειστική ευθύνη των επισκεπτών και χρηστών. Σε κάθε περίπτωση φαινόμενα απάτης από αγοραπωλησίες θα πρέπει να αναφέρονται άμεσα <a href="https://tsaklidis.gr">στον διαχειριστή</a>.
			</p>
			<p>
				Κάθε Χρήστης είναι αποκλειστικά υπεύθυνος για τις πληροφορίες, τα δεδομένα και το εν γένει περιεχόμενο που παρέχει ή δημοσιεύει στοn Ψίθυρο.
			</p>
			<p>
				Ο Χρήστης/Επισκέπτης συμφωνεί και δεσμεύεται ότι οι Πληροφορίες αυτές δεν είναι ψευδείς, ανακριβείς, παραπλανητικές, προσβλητικές, απειλητικές, υβριστικές, συκοφαντικές κακόβουλες, ότι δεν περιέχουν πορνογραφικό, δυσφημιστικό, παραπλανητικό, άσεμνο υλικό και εν γένει υλικό που θίγει τα εκ της κείμενης νομοθεσίας προβλεπόμενα δικαιώματα οποιοδήποτε φυσικού ή νομικού προσώπου, του καταναλωτικού κοινού, των λοιπών Χρηστών του παρόντος Ιστότοπου και ιδίως αυτά που αφορούν στην προστασία της ανθρώπινης αξιοπρέπειας, τιμής και υπόληψης, της ιδιωτικής ζωής, της ανηλικότητας και της επαγγελματικής φήμης και ότι είναι ακριβείς, επίκαιρες και πλήρεις. 
			</p>

			<p>
				Aπαγορεύεται να αναρτώνται κείμενα για την αγοραπωλησία πορνογραφικού υλικού, ναρκωτικών και άλλων παράνομων ουσιών, φαρμακευτικών προϊόντων, όπλων, ανθρωπίνων μελών και οργάνων, κλεμμένων και λαθραίων αντικειμένων, τραπεζικών προϊόντων, χρημάτων, αρχαίων αντικειμένων, αντικειμένων σχετιζομένων με τζόγο και στοιχήματα κ.α. 
			</p>
			<p>
				Απαγορεύονται οποιεσδήποτε διαφημίσεις (καταστημάτων, ιδιωτών, εμπόρων κτλ.) εκτός αν υπάρχει γραπτή έγκριση από την ομάδα του Ψίθυρου. 
			</p>
			<p>
				Αν κάποιος χρήστης διαφωνεί με τους όρους χρήσης, δεν πρέπει να κάνει χρήση της Ιστοσελίδας. 
			</p>
		</div>
	</div>

</div>
{% endblock %}
{% block site_js %}{% endblock %}