h2{
	font-size: 16px;
	display: inline;
	margin: 0px;
	padding: 0px;
}
.post_wrp{
	text-align: left;
	padding: 10px;
	margin: 5px;
	background-color: #496c8d;
	font-size: 15px;
	border-radius: 4px;
	min-height: 150px;

}
.post_head{border-bottom: 1px dotted #999; }
.date{float: right;}
.answer{margin-top: 15px;}
#give_answr_wrp{
	margin: 5px auto;
	background-color: #626f7b;
	padding: 4px;
	border-radius: 4px;
}
.the_text{
	border-bottom: 1px dotted #999; 
	min-height: 110px;
	margin-top:10px;
	word-wrap: break-word;
}
.post_foot{margin-top:10px; }

.ans_wrp{
	background-color:#626f7b;
	text-align: left;
	padding: 10px;
	margin: 5px;
	font-size: 15px;
	border-radius: 4px;
}
form{margin: 0px;}
#id_text, #id_title{border-radius: 2px;}
ul{margin:0px; list-style: none;}