<!doctype html>
<html lang="el" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Ψίθυρος | {% block page_title %}{% endblock %}</title>
        <meta name="author" content="Stefanos i. Tsaklidis">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        <link href="{{ static('shy/css/libs/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ static('shy/css/base.css') }}" rel="stylesheet" type="text/css">

        <link rel="shortcut icon" type="image/icon" href="{{ static('shy/img/favicon.ico') }}"/>

        <meta property="og:title" content="{% block og_title %}{% endblock og_title %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://psithiros.eu" />        
        <meta property="og:site_name" content="Psithiros" />
        <meta property="og:description" content="{% block og_meta_description %}{%endblock%}" />
        <meta property="og:image" content="https://psithiros.eu/static/shy/img/share.jpg"/>

        <meta name="google-site-verification" content="mfykFNyoIHrzYMV-d8Cplse4egDZEkNJn_DjgzAHi3Q" />

        {% block site_css %}{% endblock %}
        {% block extra_head %}{% endblock%}



    </head>

    <body class="d-flex flex-column h-100">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Ψ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_bar_target" aria-controls="nav_bar_target" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav_bar_target">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Αρχική <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('posts:new_post') }}">Γράψε</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('posts:info') }}">Πληροφορίες</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="{{ url('posts:search') }}" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id='csrf'>
                    <input id="search_key" class="form-control mr-sm-2" type="search" placeholder="Ψάξε κλειδί ή κατι άλλο" aria-label="Search" name="search_term" required pattern=".{3,}" title="Γράψε μια μεγαλύτερη λέξη">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Δείξε</button>
                </form>
            </div>
        </nav>

        <main role="main" class="flex-shrink-0">
            {% block main %}{% endblock %}
        </main>

        <footer class="footer mt-auto py-3">
            <div class="container">
                <p class="footer-text text-center">All Rights Reserved &copy; <br>Developed by 
                    <a href="https://tsaklidis.gr" title="Developer: Stefanos I. Tsaklidis">Stefanos I. Tsaklidis</a>
                </p>
            </div>
        </footer>

        <script src="{{ static('shy/js/jquery.slim.min.js') }}"></script>
        <script src="{{ static('shy/js/popper.js') }}"></script>
        <script src="{{ static('shy/js/bootstrap.js') }}"></script>
        {% block site_js %}{% endblock %}
    </body>


</html>
